.icon {
    width: 24px;
    height: 24px;
}

.icon {
    display: inline-block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.icon,
.ui-widget-content .icon {
    background-image: url("images/glyphicons-FF99CC.png");
}
.ui-widget-header .icon {
    background-image: url("images/glyphicons-FFFFFF.png");
}
.ui-state-default .icon {
    background-image: url("images/glyphicons-FF99CC.png");
}
.ui-state-hover .icon,
.ui-state-focus .icon {
    background-image: url("images/glyphicons-FF66CC.png");
}
.ui-state-active .icon {
    background-image: url("images/glyphicons-FF66CC.png");
}
.ui-state-highlight .icon {
    background-image: url("images/glyphicons-228EF1.png");
}
.ui-state-error .icon,
.ui-state-error-text .icon {
    background-image: url("images/glyphicons-228EF1.png");
}

.icon-glass { background-position: 0px 0px; }
.icon-leaf { background-position: -24px 0px; }
.icon-dog { background-position: -48px 0px; }
.icon-user { background-position: -72px 0px; }
.icon-girl { background-position: -96px 0px; }
.icon-car { background-position: -120px 0px; }
.icon-user-add { background-position: -144px 0px; }
.icon-user-remove { background-position: -168px 0px; }
.icon-film { background-position: -192px 0px; }
.icon-magic { background-position: -216px 0px; }
.icon-envelope { background-position: 0px -24px; }
.icon-camera { background-position: -24px -24px; }
.icon-heart { background-position: -48px -24px; }
.icon-beach-umbrella { background-position: -72px -24px; }
.icon-train { background-position: -96px -24px; }
.icon-print { background-position: -120px -24px; }
.icon-bin { background-position: -144px -24px; }
.icon-music { background-position: -168px -24px; }
.icon-note { background-position: -192px -24px; }
.icon-heart-empty { background-position: -216px -24px; }
.icon-home { background-position: 0px -48px; }
.icon-snowflake { background-position: -24px -48px; }
.icon-fire { background-position: -48px -48px; }
.icon-magnet { background-position: -72px -48px; }
.icon-parents { background-position: -96px -48px; }
.icon-binoculars { background-position: -120px -48px; }
.icon-road { background-position: -144px -48px; }
.icon-search { background-position: -168px -48px; }
.icon-cars { background-position: -192px -48px; }
.icon-notes-2 { background-position: -216px -48px; }
.icon-pencil { background-position: 0px -72px; }
.icon-bus { background-position: -24px -72px; }
.icon-wifi-alt { background-position: -48px -72px; }
.icon-luggage { background-position: -72px -72px; }
.icon-old-man { background-position: -96px -72px; }
.icon-woman { background-position: -120px -72px; }
.icon-file { background-position: -144px -72px; }
.icon-coins { background-position: -168px -72px; }
.icon-airplane { background-position: -192px -72px; }
.icon-notes { background-position: -216px -72px; }
.icon-stats { background-position: 0px -96px; }
.icon-charts { background-position: -24px -96px; }
.icon-pie-chart { background-position: -48px -96px; }
.icon-group { background-position: -72px -96px; }
.icon-keys { background-position: -96px -96px; }
.icon-calendar { background-position: -120px -96px; }
.icon-router { background-position: -144px -96px; }
.icon-camera-small { background-position: -168px -96px; }
.icon-dislikes { background-position: -192px -96px; }
.icon-star { background-position: -216px -96px; }
.icon-link { background-position: 0px -120px; }
.icon-eye-open { background-position: -24px -120px; }
.icon-eye-close { background-position: -48px -120px; }
.icon-alarm { background-position: -72px -120px; }
.icon-clock { background-position: -96px -120px; }
.icon-stopwatch { background-position: -120px -120px; }
.icon-projector { background-position: -144px -120px; }
.icon-history { background-position: -168px -120px; }
.icon-truck { background-position: -192px -120px; }
.icon-cargo { background-position: -216px -120px; }
.icon-compass { background-position: 0px -144px; }
.icon-keynote { background-position: -24px -144px; }
.icon-paperclip { background-position: -48px -144px; }
.icon-power { background-position: -72px -144px; }
.icon-lightbulb { background-position: -96px -144px; }
.icon-tag { background-position: -120px -144px; }
.icon-tags { background-position: -144px -144px; }
.icon-cleaning { background-position: -168px -144px; }
.icon-ruller { background-position: -192px -144px; }
.icon-gift { background-position: -216px -144px; }
.icon-umbrella { background-position: 0px -168px; }
.icon-book { background-position: -24px -168px; }
.icon-bookmark { background-position: -48px -168px; }
.icon-wifi { background-position: -72px -168px; }
.icon-cup { background-position: -96px -168px; }
.icon-stroller { background-position: -120px -168px; }
.icon-headphones { background-position: -144px -168px; }
.icon-headset { background-position: -168px -168px; }
.icon-warning-sign { background-position: -192px -168px; }
.icon-signal { background-position: -216px -168px; }
.icon-retweet { background-position: 0px -192px; }
.icon-refresh { background-position: -24px -192px; }
.icon-roundabout { background-position: -48px -192px; }
.icon-random { background-position: -72px -192px; }
.icon-heat { background-position: -96px -192px; }
.icon-repeat { background-position: -120px -192px; }
.icon-display { background-position: -144px -192px; }
.icon-log-book { background-position: -168px -192px; }
.icon-adress-book { background-position: -192px -192px; }
.icon-building { background-position: -216px -192px; }
.icon-eyedropper { background-position: 0px -216px; }
.icon-adjust { background-position: -24px -216px; }
.icon-tint { background-position: -48px -216px; }
.icon-crop { background-position: -72px -216px; }
.icon-vector-path-square { background-position: -96px -216px; }
.icon-vector-path-circle { background-position: -120px -216px; }
.icon-vector-path-polygon { background-position: -144px -216px; }
.icon-vector-path-line { background-position: -168px -216px; }
.icon-vector-path-curve { background-position: -192px -216px; }
.icon-vector-path-all { background-position: -216px -216px; }
.icon-font { background-position: 0px -240px; }
.icon-italic { background-position: -24px -240px; }
.icon-bold { background-position: -48px -240px; }
.icon-text-underline { background-position: -72px -240px; }
.icon-text-strike { background-position: -96px -240px; }
.icon-text-height { background-position: -120px -240px; }
.icon-text-width { background-position: -144px -240px; }
.icon-text-resize { background-position: -168px -240px; }
.icon-left-indent { background-position: -192px -240px; }
.icon-right-indent { background-position: -216px -240px; }
.icon-align-left { background-position: 0px -264px; }
.icon-align-center { background-position: -24px -264px; }
.icon-align-right { background-position: -48px -264px; }
.icon-justify { background-position: -72px -264px; }
.icon-list { background-position: -96px -264px; }
.icon-text-smaller { background-position: -120px -264px; }
.icon-text-bigger { background-position: -144px -264px; }
.icon-embed { background-position: -168px -264px; }
.icon-embed-close { background-position: -192px -264px; }
.icon-table { background-position: -216px -264px; }
.icon-message-full { background-position: 0px -288px; }
.icon-message-empty { background-position: -24px -288px; }
.icon-message-in { background-position: -48px -288px; }
.icon-message-out { background-position: -72px -288px; }
.icon-message-plus { background-position: -96px -288px; }
.icon-message-minus { background-position: -120px -288px; }
.icon-message-ban { background-position: -144px -288px; }
.icon-message-flag { background-position: -168px -288px; }
.icon-message-lock { background-position: -192px -288px; }
.icon-message-new { background-position: -216px -288px; }
.icon-inbox { background-position: 0px -312px; }
.icon-inbox-plus { background-position: -24px -312px; }
.icon-inbox-minus { background-position: -48px -312px; }
.icon-inbox-lock { background-position: -72px -312px; }
.icon-inbox-in { background-position: -96px -312px; }
.icon-inbox-out { background-position: -120px -312px; }
.icon-cogwheel { background-position: -144px -312px; }
.icon-cogwheels { background-position: -168px -312px; }
.icon-picture { background-position: -192px -312px; }
.icon-adjust-alt { background-position: -216px -312px; }
.icon-database-lock { background-position: 0px -336px; }
.icon-database-plus { background-position: -24px -336px; }
.icon-database-minus { background-position: -48px -336px; }
.icon-database-ban { background-position: -72px -336px; }
.icon-folder-open { background-position: -96px -336px; }
.icon-folder-plus { background-position: -120px -336px; }
.icon-folder-minus { background-position: -144px -336px; }
.icon-folder-lock { background-position: -168px -336px; }
.icon-folder-flag { background-position: -192px -336px; }
.icon-folder-new { background-position: -216px -336px; }
.icon-edit { background-position: 0px -360px; }
.icon-new-window { background-position: -24px -360px; }
.icon-check { background-position: -48px -360px; }
.icon-unchecked { background-position: -72px -360px; }
.icon-more-windows { background-position: -96px -360px; }
.icon-show-big-thumbnails { background-position: -120px -360px; }
.icon-show-thumbnails { background-position: -144px -360px; }
.icon-show-thumbnails-with-lines { background-position: -168px -360px; }
.icon-show-lines { background-position: -192px -360px; }
.icon-playlist { background-position: -216px -360px; }
.icon-imac { background-position: 0px -384px; }
.icon-macbook { background-position: -24px -384px; }
.icon-ipad { background-position: -48px -384px; }
.icon-iphone { background-position: -72px -384px; }
.icon-iphone-transfer { background-position: -96px -384px; }
.icon-iphone-exchange { background-position: -120px -384px; }
.icon-ipod { background-position: -144px -384px; }
.icon-ipod-shuffle { background-position: -168px -384px; }
.icon-ear-plugs { background-position: -192px -384px; }
.icon-phone { background-position: -216px -384px; }
.icon-step-backward { background-position: 0px -408px; }
.icon-fast-backward { background-position: -24px -408px; }
.icon-rewind { background-position: -48px -408px; }
.icon-play { background-position: -72px -408px; }
.icon-pause { background-position: -96px -408px; }
.icon-stop { background-position: -120px -408px; }
.icon-forward { background-position: -144px -408px; }
.icon-fast-forward { background-position: -168px -408px; }
.icon-step-forward { background-position: -192px -408px; }
.icon-eject { background-position: -216px -408px; }
.icon-facetime-video { background-position: 0px -432px; }
.icon-download-alt { background-position: -24px -432px; }
.icon-mute { background-position: -48px -432px; }
.icon-volume-down { background-position: -72px -432px; }
.icon-volume-up { background-position: -96px -432px; }
.icon-screenshot { background-position: -120px -432px; }
.icon-move { background-position: -144px -432px; }
.icon-more { background-position: -168px -432px; }
.icon-brightness-reduce { background-position: -192px -432px; }
.icon-brightness-increase { background-position: -216px -432px; }
.icon-circle-plus { background-position: 0px -456px; }
.icon-circle-minus { background-position: -24px -456px; }
.icon-circle-remove { background-position: -48px -456px; }
.icon-circle-ok { background-position: -72px -456px; }
.icon-circle-question-mark { background-position: -96px -456px; }
.icon-circle-info { background-position: -120px -456px; }
.icon-circle-exclamation-mark { background-position: -144px -456px; }
.icon-remove { background-position: -168px -456px; }
.icon-ok { background-position: -192px -456px; }
.icon-ban { background-position: -216px -456px; }
.icon-download { background-position: 0px -480px; }
.icon-upload { background-position: -24px -480px; }
.icon-shopping-cart { background-position: -48px -480px; }
.icon-lock { background-position: -72px -480px; }
.icon-unlock { background-position: -96px -480px; }
.icon-electricity { background-position: -120px -480px; }
.icon-ok-2 { background-position: -144px -480px; }
.icon-remove-2 { background-position: -168px -480px; }
.icon-cart-out { background-position: -192px -480px; }
.icon-cart-in { background-position: -216px -480px; }
.icon-left-arrow { background-position: 0px -504px; }
.icon-right-arrow { background-position: -24px -504px; }
.icon-down-arrow { background-position: -48px -504px; }
.icon-up-arrow { background-position: -72px -504px; }
.icon-resize-small { background-position: -96px -504px; }
.icon-resize-full { background-position: -120px -504px; }
.icon-circle-arrow-left { background-position: -144px -504px; }
.icon-circle-arrow-right { background-position: -168px -504px; }
.icon-circle-arrow-top { background-position: -192px -504px; }
.icon-circle-arrow-down { background-position: -216px -504px; }
.icon-play-button { background-position: 0px -528px; }
.icon-unshare { background-position: -24px -528px; }
.icon-share { background-position: -48px -528px; }
.icon-chevron-right { background-position: -72px -528px; }
.icon-chevron-left { background-position: -96px -528px; }
.icon-bluetooth { background-position: -120px -528px; }
.icon-euro { background-position: -144px -528px; }
.icon-usd { background-position: -168px -528px; }
.icon-gbp { background-position: -192px -528px; }
.icon-retweet-2 { background-position: -216px -528px; }
.icon-moon { background-position: 0px -552px; }
.icon-sun { background-position: -24px -552px; }
.icon-cloud { background-position: -48px -552px; }
.icon-direction { background-position: -72px -552px; }
.icon-brush { background-position: -96px -552px; }
.icon-pen { background-position: -120px -552px; }
.icon-zoom-in { background-position: -144px -552px; }
.icon-zoom-out { background-position: -168px -552px; }
.icon-pin { background-position: -192px -552px; }
.icon-albums { background-position: -216px -552px; }
.icon-rotation-lock { background-position: 0px -576px; }
.icon-flash { background-position: -24px -576px; }
.icon-google-maps { background-position: -48px -576px; }
.icon-anchor { background-position: -72px -576px; }
.icon-conversation { background-position: -96px -576px; }
.icon-chat { background-position: -120px -576px; }
.icon-male { background-position: -144px -576px; }
.icon-female { background-position: -168px -576px; }
.icon-asterisk { background-position: -192px -576px; }
.icon-divide { background-position: -216px -576px; }
.icon-snorkel-diving { background-position: 0px -600px; }
.icon-scuba-diving { background-position: -24px -600px; }
.icon-oxygen-bottle { background-position: -48px -600px; }
.icon-fins { background-position: -72px -600px; }
.icon-fishes { background-position: -96px -600px; }
.icon-boat { background-position: -120px -600px; }
.icon-delete { background-position: -144px -600px; }
.icon-sheriffs-star { background-position: -168px -600px; }
.icon-qrcode { background-position: -192px -600px; }
.icon-barcode { background-position: -216px -600px; }
.icon-pool { background-position: 0px -624px; }
.icon-buoy { background-position: -24px -624px; }
.icon-spade { background-position: -48px -624px; }
.icon-bank { background-position: -72px -624px; }
.icon-vcard { background-position: -96px -624px; }
.icon-electrical-plug { background-position: -120px -624px; }
.icon-flag { background-position: -144px -624px; }
.icon-credit-card { background-position: -168px -624px; }
.icon-keyboard-wireless { background-position: -192px -624px; }
.icon-keyboard-wired { background-position: -216px -624px; }
.icon-shield { background-position: 0px -648px; }
.icon-ring { background-position: -24px -648px; }
.icon-cake { background-position: -48px -648px; }
.icon-drink { background-position: -72px -648px; }
.icon-beer { background-position: -96px -648px; }
.icon-fast-food { background-position: -120px -648px; }
.icon-cutlery { background-position: -144px -648px; }
.icon-pizza { background-position: -168px -648px; }
.icon-birthday-cake { background-position: -192px -648px; }
.icon-tablet { background-position: -216px -648px; }
.icon-settings { background-position: 0px -672px; }
.icon-bullets { background-position: -24px -672px; }
.icon-cardio { background-position: -48px -672px; }
.icon-t-shirt { background-position: -72px -672px; }
.icon-pants { background-position: -96px -672px; }
.icon-sweater { background-position: -120px -672px; }
.icon-fabric { background-position: -144px -672px; }
.icon-leather { background-position: -168px -672px; }
.icon-scissors { background-position: -192px -672px; }
.icon-bomb { background-position: -216px -672px; }
.icon-skull { background-position: 0px -696px; }
.icon-celebration { background-position: -24px -696px; }
.icon-tea-kettle { background-position: -48px -696px; }
.icon-french-press { background-position: -72px -696px; }
.icon-coffe-cup { background-position: -96px -696px; }
.icon-pot { background-position: -120px -696px; }
.icon-grater { background-position: -144px -696px; }
.icon-kettle { background-position: -168px -696px; }
.icon-hospital { background-position: -192px -696px; }
.icon-hospital-h { background-position: -216px -696px; }
.icon-microphone { background-position: 0px -720px; }
.icon-webcam { background-position: -24px -720px; }
.icon-temple-christianity-church { background-position: -48px -720px; }
.icon-temple-islam { background-position: -72px -720px; }
.icon-temple-hindu { background-position: -96px -720px; }
.icon-temple-buddhist { background-position: -120px -720px; }
.icon-bicycle { background-position: -144px -720px; }
.icon-life-preserver { background-position: -168px -720px; }
.icon-share-alt { background-position: -192px -720px; }
.icon-comments { background-position: -216px -720px; }
.icon-flower { background-position: 0px -744px; }
.icon-baseball { background-position: -24px -744px; }
.icon-rugby { background-position: -48px -744px; }
.icon-ax { background-position: -72px -744px; }
.icon-table-tennis { background-position: -96px -744px; }
.icon-bowling { background-position: -120px -744px; }
.icon-tree-conifer { background-position: -144px -744px; }
.icon-tree-deciduous { background-position: -168px -744px; }
.icon-more-items { background-position: -192px -744px; }
.icon-sort { background-position: -216px -744px; }
.icon-filter { background-position: 0px -768px; }
.icon-gamepad { background-position: -24px -768px; }
.icon-playing-dices { background-position: -48px -768px; }
.icon-calculator { background-position: -72px -768px; }
.icon-tie { background-position: -96px -768px; }
.icon-wallet { background-position: -120px -768px; }
.icon-piano { background-position: -144px -768px; }
.icon-sampler { background-position: -168px -768px; }
.icon-podium { background-position: -192px -768px; }
.icon-soccer-ball { background-position: -216px -768px; }
.icon-blog { background-position: 0px -792px; }
.icon-dashboard { background-position: -24px -792px; }
.icon-certificate { background-position: -48px -792px; }
.icon-bell { background-position: -72px -792px; }
.icon-candle { background-position: -96px -792px; }
.icon-pushpin { background-position: -120px -792px; }
.icon-iphone-shake { background-position: -144px -792px; }
.icon-pin-flag { background-position: -168px -792px; }
.icon-turtle { background-position: -192px -792px; }
.icon-rabbit { background-position: -216px -792px; }
.icon-globe { background-position: 0px -816px; }
.icon-briefcase { background-position: -24px -816px; }
.icon-hdd { background-position: -48px -816px; }
.icon-thumbs-up { background-position: -72px -816px; }
.icon-thumbs-down { background-position: -96px -816px; }
.icon-hand-right { background-position: -120px -816px; }
.icon-hand-left { background-position: -144px -816px; }
.icon-hand-up { background-position: -168px -816px; }
.icon-hand-down { background-position: -192px -816px; }
.icon-fullscreen { background-position: -216px -816px; }
.icon-shopping-bag { background-position: 0px -840px; }
.icon-book-open { background-position: -24px -840px; }
.icon-nameplate { background-position: -48px -840px; }
.icon-nameplate-alt { background-position: -72px -840px; }
.icon-vases { background-position: -96px -840px; }
.icon-bullhorn { background-position: -120px -840px; }
.icon-dumbbell { background-position: -144px -840px; }
.icon-suitcase { background-position: -168px -840px; }
.icon-file-import { background-position: -192px -840px; }
.icon-file-export { background-position: -216px -840px; }
.icon-bug { background-position: 0px -864px; }
.icon-crown { background-position: -24px -864px; }
.icon-smoking { background-position: -48px -864px; }
.icon-cloud-upload { background-position: -72px -864px; }
.icon-cloud-download { background-position: -96px -864px; }
.icon-restart { background-position: -120px -864px; }
.icon-security-camera { background-position: -144px -864px; }
.icon-expand { background-position: -168px -864px; }
.icon-collapse { background-position: -192px -864px; }
.icon-collapse-top { background-position: -216px -864px; }
.icon-globe-af { background-position: 0px -888px; }
.icon-global { background-position: -24px -888px; }
.icon-spray { background-position: -48px -888px; }
.icon-nails { background-position: -72px -888px; }
.icon-claw-hammer { background-position: -96px -888px; }
.icon-classic-hammer { background-position: -120px -888px; }
.icon-hand-saw { background-position: -144px -888px; }
.icon-riflescope { background-position: -168px -888px; }
.icon-electrical-socket-eu { background-position: -192px -888px; }
.icon-electrical-socket-us { background-position: -216px -888px; }
.icon-pinterest { background-position: 0px -912px; }
.icon-dropbox { background-position: -24px -912px; }
.icon-google-plus { background-position: -48px -912px; }
.icon-jolicloud { background-position: -72px -912px; }
.icon-yahoo { background-position: -96px -912px; }
.icon-blogger { background-position: -120px -912px; }
.icon-picasa { background-position: -144px -912px; }
.icon-amazon { background-position: -168px -912px; }
.icon-tumblr { background-position: -192px -912px; }
.icon-wordpress { background-position: -216px -912px; }
.icon-instapaper { background-position: 0px -936px; }
.icon-evernote { background-position: -24px -936px; }
.icon-xing { background-position: -48px -936px; }
.icon-zootool { background-position: -72px -936px; }
.icon-dribbble { background-position: -96px -936px; }
.icon-deviantart { background-position: -120px -936px; }
.icon-read-it-later { background-position: -144px -936px; }
.icon-linked-in { background-position: -168px -936px; }
.icon-forrst { background-position: -192px -936px; }
.icon-pinboard { background-position: -216px -936px; }
.icon-behance { background-position: 0px -960px; }
.icon-github { background-position: -24px -960px; }
.icon-youtube { background-position: -48px -960px; }
.icon-skitch { background-position: -72px -960px; }
.icon-4square { background-position: -96px -960px; }
.icon-quora { background-position: -120px -960px; }
.icon-badoo { background-position: -144px -960px; }
.icon-spotify { background-position: -168px -960px; }
.icon-stumbleupon { background-position: -192px -960px; }
.icon-readability { background-position: -216px -960px; }
.icon-facebook { background-position: 0px -984px; }
.icon-twitter { background-position: -24px -984px; }
.icon-instagram { background-position: -48px -984px; }
.icon-posterous-spaces { background-position: -72px -984px; }
.icon-vimeo { background-position: -96px -984px; }
.icon-flickr { background-position: -120px -984px; }
.icon-last-fm { background-position: -144px -984px; }
.icon-rss { background-position: -168px -984px; }
.icon-skype { background-position: -192px -984px; }
.icon-e-mail { background-position: -216px -984px; }
